#name{
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    background: transparent;
    color: white;
    width: 400px;
}
#email{
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    color: white;
    width: 400px;
}
#password{
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    color: white;
    width: 400px;
}
#cnfpassword{
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    color: white;
    width: 400px;
}
#submitbttn{
    background: transparent; 
    color: white
}
/* .container{
    margin-top: 150px;  
    border-radius: 10px; 
    width: 900px;
} */
.container{
    padding: 50px;
    margin-top: 200px;  
    border-radius: 10px; 
    width: 500px;
    background-color: white;
    text-align: center;
}
body{
    background: rgba(41, 211, 87, 1.0);
    background: linear-gradient(135deg, rgba(41, 211, 87, 1.0), rgba(199, 146, 206, 1.0));;
}
